<div class="flex w-full flex-col pb-8">
  <div class="flex mx-auto flex-col mt-4 mb-4 text-center">
    <h1 class="text-3xl font-semibold">Store</h1>
    <!-- <div>
      <nz-badge
        [nzCount]="cart_items"
        (click)="router.navigate(['shopping-cart'])"
      >
        <a routerLink="/cart">
          <span
            nz-icon
            nzType="shopping-cart"
            nzTheme="outline"
            class="text-xl"
          ></span>
        </a>
      </nz-badge>
    </div> -->
  </div>
  <div
    class="grid md:grid-cols-3 xl:grid-cols-4 gap-2 md:mx-4 mx-0"
    *ngIf="!isLoading"
  >
    <div *ngFor="let product of products">
      <nz-card
        nzTitle="{{ product.name }}"
        [nzLoading]="isLoading"
        class="w-[20rem] md:w-auto"
      >
        <div class="h-[20rem] w-[20rem] flex items-center justify-center p-2">
          <img
            src="{{ product?.image.url }}"
            alt=""
            class="object-cover max-w-full max-h-full"
          />
        </div>
        <nz-divider></nz-divider>
        <div class="flex flex-col justify-between">
          <div class="text-start">
            <p class="font-medium">
              Price {{ product.price.formatted_with_symbol }}
            </p>
            <div class="h-14 overflow-y-auto">
              <p class="pt-2 font-light" [innerHTML]="product.description"></p>
            </div>
          </div>
          <div class="flex justify-end">
            <button nz-button nzType="primary" (click)="addToCart(product.id)">
              Add To Cart
            </button>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
</div>
