<div class="mt-4 flex flex-col gap-2 p-4 w-full">
  <div>
    <h1>Address detail</h1>
  </div>

  <div class="w-full">
    <form
      class="mt-4 space-y-2"
      nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submit()"
    >
      <nz-form-item class="w-full">
        <nz-form-control>
          <div class="flex flex-col space-y-4">
            <!-- Name -->
            <div class="flex space-x-6">
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="text"
                  nz-input
                  formControlName="firsname"
                  placeholder="First name"
                />
              </nz-input-group>
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="text"
                  nz-input
                  formControlName="lastname"
                  placeholder="Last name"
                />
              </nz-input-group>
            </div>
            <!-- Address & email -->
            <div class="border flex space-x-6">
              <nz-input-group nzPrefixIcon="address">
                <input
                  type="text"
                  nz-input
                  formControlName="address"
                  placeholder="Address line 1"
                />
              </nz-input-group>
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="email"
                  nz-input
                  formControlName="email"
                  placeholder="Email"
                />
              </nz-input-group>
            </div>
            <!-- City and postcode -->
            <div class="border flex space-x-6">
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="text"
                  nz-input
                  formControlName="email"
                  placeholder="Email"
                />
              </nz-input-group>
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="email"
                  nz-input
                  formControlName="email"
                  placeholder="Last name"
                />
              </nz-input-group>
            </div>
            <!-- Shipping country -->
            <div class="border flex space-x-6">
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="text"
                  nz-input
                  formControlName="shipping_country"
                  placeholder="Shipping Country"
                />
              </nz-input-group>
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="email"
                  nz-input
                  formControlName="shipping_subdivision"
                  placeholder="Shipping Subdivision"
                />
              </nz-input-group>
            </div>
            <!-- Shipping Options -->
            <div class="border flex space-x-6">
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="text"
                  nz-input
                  formControlName="shipping_country"
                  placeholder="Shipping Country"
                />
              </nz-input-group>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
