<div class="w-full mx-auto mb-4">
  <!-- Title -->
  <div class="flex justify-center flex-col items-center">
    <h1 class="text-2xl font-semibold text-center">Shopping Cart</h1>
    <div>Total items {{ cart_items?.total_items }}</div>
  </div>

  <!-- Container -->
  <div class="shadow-md rounded-lg p-4 container">
    <!-- Cart Items -->
    <div
      class="grid grid-flow-row justify-center md:grid-cols-4 gap-1 md:gap-2 mt-2 p-4 w-full"
    >
      <div *ngFor="let item of cart_list" class="w-48 p-4 shadow-md rounded-sm">
        <div class="w-4/4 h-2/4 items-center p-2">
          <img
            src="{{ item?.image.url }}"
            alt=""
            class="object-cover w-full h-full"
          />
        </div>

        <div class="p-2 my-2 overflow-x-auto">
          <h3 class="text-sm text-start">
            {{ item?.product_name }}
          </h3>
        </div>

        <div class="flex justify-between items-center">
          <div class="flex justify-evenly w-3/4">
            <span nz-button nzType="primary" class="text-start">-</span>
            <span class="text-center">{{ item?.quantity }}</span>
            <span
              nz-button
              nzType="primary"
              (click)="updateCart(item.id, item.quantity + 1)"
              class="cursor-pointer"
              >+</span
            >
          </div>
          <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="removeFromCart()"
          >
            Remove
          </button>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-between p-2">
      <div>
        <h3 class="text-base font-medium text-start">
          Subtotal: {{ cart_items?.subtotal?.formatted_with_symbol }}
        </h3>
      </div>
      <div class="float-right gap-2 flex">
        <button
          nz-button
          nzType="primary"
          class="mt-4"
          nzDanger
          (click)="emptyCart()"
        >
          Empty Cart
        </button>
        <button
          nz-button
          nzType="primary"
          class="mt-4"
          (click)="goToCheckout()"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
