<div class="mt-4 flex flex-col space-y-2 px-8 py-4 w-full">
  <div>
    <h1 class="text-lg font-normal">Order Summary</h1>
  </div>
  <!-- Order details section -->
  <section class="flex flex-col">
    <div *ngIf="isLoading" class="text-center my-4">
      <nz-spin nzSimple></nz-spin>
    </div>

    <div *ngIf="!isLoading">
      <div class="mt-2 w-full">
        <div class="flex flex-row justify-between font-semibold">
          <span>Name</span>
          <span>Subtotal</span>
        </div>
        <ul *ngFor="let item of checkout_cart" class="mt-4">
          <li class="flex flex-row justify-between">
            <div class="flex flex-col">
              <span>
                {{ item.product_name }}
              </span>

              <span class="text-slate-400">Quantity: {{ item.quantity }}</span>
            </div>

            <span>{{ item.line_total.formatted_with_symbol }}</span>
          </li>
        </ul>

        <div class="mt-2 flex flex-row justify-between">
          <h2 class="font-semibold text-base">Total</h2>
          <h2 class="font-semibold text-base">{{ total_price }}</h2>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4 space-x-2">
      <button nz-button nzType="primary">
        <a [href]="checkoutUrl" target="_blank">Pay With Chec</a>
      </button>
      <button nz-button>Pay With Stripe</button>
    </div>
  </section>
</div>
