<nz-layout class="h-screen">
  <nav class="bg-white border-gray-200 dark:bg-gray-900 sticky top-0 z-50">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a
        class="flex items-center"
        [routerLink]="isLoggedIn ? '/dashboard' : '/login'"
      >
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >{{ title }}</span
        >
      </a>

      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
        (click)="open()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <nz-drawer
          [nzClosable]="true"
          [nzVisible]="visible"
          nzPlacement="right"
          (nzOnClose)="close()"
          nzWidth="200px"
        >
          <ng-container *nzDrawerContent>
            <ul class="font-medium flex flex-col">
              <li *ngIf="!isLoggedIn">
                <a
                  routerLink="/register"
                  class="py-2 pl-3 pr-4 rounded text-gray-700 flex items-center justify-start"
                  routerLinkActive="text-blue-700 dark:text-blue-500"
                >
                  <i
                    nz-icon
                    [nzType]="isLoggedIn ? 'login' : 'logout'"
                    class="mr-2"
                  ></i>

                  {{ !isLoggedIn ? "Register" : "Logout" }}</a
                >
              </li>
              <li *ngIf="isLoggedIn">
                <a
                  [routerLink]="isLoggedIn ? '/dashboard' : '/login'"
                  class="block py-2 pl-3 pr-4 rounded text-gray-700"
                  routerLinkActive="text-blue-700 dark:text-blue-500"
                >
                  <i nz-icon nzType="shopping" class="mr-2"></i>
                  Store</a
                >
              </li>
              <li *ngIf="isLoggedIn">
                <a
                  (click)="logout()"
                  class="block py-2 pl-3 pr-4 rounded text-gray-700"
                  routerLinkActive="text-blue-700 dark:text-blue-500"
                >
                  <i
                    nz-icon
                    [nzType]="isLoggedIn ? 'login' : 'logout'"
                    class="mr-2"
                  ></i>
                  {{ !isLoggedIn ? "Register" : "Logout" }}
                </a>
              </li>
              <li *ngIf="isLoggedIn">
                <a
                  routerLink="/shopping-cart"
                  class="py-2 pl-3 pr-4 rounded text-gray-700 flex items-center justify-start"
                  routerLinkActive="text-blue-700 dark:text-blue-500"
                  nzTheme="outline"
                >
                  <i
                    nz-icon
                    nzType="shopping-cart"
                    nzTheme="outline"
                    class="mr-2"
                  ></i>
                  Cart</a
                >
              </li>
            </ul>
          </ng-container>
        </nz-drawer>
      </button>

      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 md:items-center"
        >
          <li *ngIf="isLoggedIn">
            <a
              [routerLink]="isLoggedIn ? '/dashboard' : '/login'"
              class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:p-0"
              routerLinkActive="md:text-blue-700 dark:text-white md:dark:text-blue-500"
              >Store</a
            >
          </li>
          <li *ngIf="isLoggedIn">
            <a
              (click)="logout()"
              class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:p-0"
              routerLinkActive="md:text-blue-700 dark:text-white md:dark:text-blue-500"
              >Logout</a
            >
          </li>
          <li *ngIf="isLoggedIn">
            <nz-badge [nzCount]="cartItemsCount" nzSize="small">
              <a
                routerLink="/shopping-cart"
                class="py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:p-0 md:text-lg"
                routerLinkActive="md:text-blue-700 dark:text-white md:dark:text-blue-500"
                nz-icon
                nzType="shopping-cart"
                nzTheme="outline"
              ></a>
            </nz-badge>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nz-content class="h-auto mx-auto">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
