<nz-layout class="min-h-screen">
  <nz-page-header (nzBack)="onBack()" [nzGhost]="true">
    <nz-page-header-title
      (click)="router.navigate(['/'])"
      class="cursor-pointer"
      >{{ title }}</nz-page-header-title
    >
    <nz-page-header-extra>
      <div class="flex gap-2">
        <button
          nz-button
          nzType="primary"
          routerLink="/login"
          (click)="fireauth.logout()"
        >
          {{ isLoggedIn ? "Logout" : "Login" }}
        </button>
        <button *ngIf="!isLoggedIn" nz-button routerLink="/register">
          Register
        </button>

        <nz-badge [nzCount]="cart">
          <a routerLink="/cart">
            <span
              nz-icon
              nzType="shopping-cart"
              nzTheme="outline"
              class="text-xl"
            ></span>
          </a>
        </nz-badge>
      </div>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-content class="mt-10 mx-auto">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
