<div class="shadow-md p-8 flex flex-col flex-1 rounded-xl w-[22rem">
  <h1 class="text-2xl text-center">{{ title }}</h1>

  <form
    class="flex flex-col items-center justify-center w-full mt-4"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item class="w-full">
      <nz-form-control [nzErrorTip]="errorMessage.email[0].message">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w-full">
      <nz-form-control [nzErrorTip]="errorMessage.password[0].message">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
            autocomplete="on"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="m-2 flex items-center gap-4 justify-between w-full">
      <div class="items-start flex">
        <label nz-checkbox formControlName="remember">
          <span class="flex items-center h-5">Remember me</span>
        </label>
      </div>

      <a>Forgot password</a>
    </div>

    <div class="flex flex-col w-full">
      <button nz-button [nzType]="'primary'" (click)="submitForm()">
        Log in
      </button>
      <div>
        <span>Or </span>
        <a>register now!</a>
      </div>
    </div>
  </form>

  <div class="flex flex-col float-right w-1/3 mt-2">
    <button nz-button [nzType]="'primary'">Google</button>
  </div>
</div>

<nz-alert
  class="fixed bottom-10 left-1/2 transform -translate-x-1/2 w-2/4 transition-all duration-500 ease-in-out"
  nzType="error"
  [nzMessage]="invalidLoginMessage"
  *ngIf="invalidLogin"
  nzShowIcon
  nzBanner
></nz-alert>
