<div
  class="pt-4 px-4 md:px-8 pb-8 rounded-md mx-4 md:mx-auto md:min-w-full mt-4 shadow-md bg-white"
>
  <div class="flex items-center justify-center py-4 mb-2">
    <h1 class="font-semibold text-2xl">Checkout</h1>
  </div>

  <div class="max-w-screen-sm md:max-w-screen-2xl">
    <nz-steps [nzCurrent]="current" class="flex items-center">
      <nz-step nzTitle="Shipping Address"></nz-step>
      <nz-step nzTitle="Payment Details"></nz-step>
    </nz-steps>

    <ng-container [ngSwitch]="current">
      <ng-container *ngSwitchCase="0">
        <checkout-address></checkout-address>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <checkout-payment></checkout-payment>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <nz-result
          nzStatus="success"
          nzTitle="Successfully Purchased Cloud Server ECS!"
          nzSubTitle="Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait."
        >
          <div nz-result-extra>
            <button nz-button nzType="primary">Go Console</button>
            <button nz-button>Buy Again</button>
          </div>
        </nz-result>
      </ng-container>
    </ng-container>

    <div class="flex flex-row gap-1 mt-4">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 1">
        <span>Next</span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 1">
        <span>Pay</span>
      </button>
    </div>
  </div>
</div>

<nz-alert
  class="fixed bottom-10 left-1/2 transform -translate-x-1/2 w-2/4"
  nzType="success"
  nzMessage="Processing Payment"
  *ngIf="isPaymentProcessing"
  nzShowIcon
>
</nz-alert>

<nz-alert
  class="fixed bottom-10 left-1/2 transform -translate-x-1/2 w-2/4"
  nzType="success"
  nzMessage="Processing Payment"
  *ngIf="isPaymentProcessing"
  nzShowIcon
>
</nz-alert>

<nz-alert
  class="fixed bottom-10 left-1/2 transform -translate-x-1/2 w-2/4"
  nzType="warning"
  [nzMessage]="
    checkout_cart.length === 0 && !isCartLoading
      ? 'No items in cart. Please add something'
      : 'Please wait while we load your cart'
  "
  *ngIf="isCartLoading"
  nzShowIcon
>
</nz-alert>
