<div class="shadow-md p-8 flex flex-col flex-1 rounded-xl w-[21rem]">
  <h1 class="text-2xl text-center">{{ title }}</h1>

  <form
    class="flex flex-col items-center justify-center w-full mt-4"
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item class="w-full">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w-full">
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="w-full">
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="text"
            nz-input
            formControlName="name"
            placeholder="Name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- <div class="m-2 flex items-center gap-4 justify-between">
      <div class="items-start flex">
        <label
          nz-checkbox
          formControlName="remember"
          class="flex items-center h-5"
        >
          <span>Remember me</span>
        </label>
      </div>

      <a>Forgot password</a>
    </div> -->

    <div class="flex flex-col w-full">
      <button nz-button [nzType]="'primary'" (click)="register()">
        Register
      </button>
    </div>
  </form>
</div>
